{% extends 'layout.html' %}
{% block body%}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="toplevelinfo">
				Top level subforums:
			</div>
			{% for subforum in subforums %}
			<div class="subforumlisting">
				<div class="subforumtitle">
					<a href="/subforum?sub={{ subforum.id }}">
						{{ subforum.title}}
					</a>
				</div>
				<div class="subforumdesc">
					{{ subforum.description }}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
